In [20]:
import http.client
import urllib.request,urllib.parse
import pandas as pd

In [25]:
key = 'Y1LRQV2V8HPX3ZKD' # copy the write API key

In [26]:
t=int(22)
temperatures = []

In [27]:
while t < 100:
    t=t+1
    print ("temperature",t)
    temperatures.append(t)
    params=urllib.parse.urlencode({'field1':t,'key':key})
    headers={"Content-type":"application/x-www-form-urlencoded","Accept":"text/plain"}
    con=http.client.HTTPConnection("api.thingspeak.com")
    con.request("POST","/update",params,headers)
    response=con.getresponse()
    print (response.status,response.reason)
    data=response.read()
    con.close()

temperature 23
200 OK
temperature 24
200 OK
temperature 25
200 OK
temperature 26
200 OK
temperature 27
200 OK
temperature 28
200 OK
temperature 29
200 OK
temperature 30
200 OK
temperature 31
200 OK
temperature 32
200 OK
temperature 33
200 OK
temperature 34
200 OK
temperature 35
200 OK
temperature 36
200 OK
temperature 37
200 OK
temperature 38
200 OK
temperature 39
200 OK
temperature 40
200 OK
temperature 41
200 OK
temperature 42
200 OK
temperature 43
200 OK
temperature 44
200 OK
temperature 45
200 OK
temperature 46
200 OK
temperature 47
200 OK
temperature 48
200 OK
temperature 49
200 OK
temperature 50
200 OK
temperature 51
200 OK
temperature 52
200 OK
temperature 53
200 OK
temperature 54
200 OK
temperature 55
200 OK

In [24]:
temperature_df = pd.DataFrame(temperatures, columns=['Temperature'])
temperature_df.head()

   Temperature
0           23
1           24
2           25
3           26
4           27